/* banner section start */
body{
    font-family: 'Poppins', sans-serif;
}
.banner-area{
    width: 90%;
    margin: 0 auto;
    background-color: black;
    display: flex;
    border-radius: 30px;
}
.text-area{
    color: white;
    padding-top: 10%;
    padding-left: 5%;
    width: 50%;
}
.player-image{
    width: 50%;

}
.player-image img{
    width: 100%;

}

.link-btn1{
    color: white;
    background-color: tomato;
    padding: 15px;
    text-decoration: none;
}
/* banner section end */


/* main area start */
.container{
    display: flex;
    width: 90%;
    margin: 80px auto;
    
}
nav{
	padding: 0 30px;
	background-color: #161616;
	border-radius: 10px;
	height: 332px;
}
nav ul li{
	width: 230px;
	margin: 40px 0;
	list-style: none;
	text-align: center;
	border-radius: 5px;
	padding: 17px 0;
	background-color: white;
}
nav ul li a{
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	color: #000;
}

.blog-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 78%;
    margin-left: 40px;
}
.blog-area .img{
    width: 100%;
}

.btn2{
    text-decoration: none;
    border: 1px solid gray;
    padding: 5px;
    color: black;
    background-color: brown;
}
footer{
    background-color: black;
    height: 250px;
}
.goal{
    color: white;
    text-align: center;
    margin-top: 50px;
}
.last{
    display: flex;
    justify-content: center;
}
.last li a{
    text-decoration: none;
    display: inline-flex;
    margin-right: 15px;
    color: wheat;
}
.social-media-icons i{
	font-size: 1.5em;
	border: 3px solid #fff;
	padding: 5px;
	border-radius: 50%;
    margin-left: 100px;
}
.fa-facebook{
	color: #4267B2;
}
.fa-twitter{
	color: #1DA1F2;
}
.fa-instagram{
	color: #d38217;
}
.fa-pinterest{
	color: #E60023;
}
@media screen and (max-width: 577px){
    .banner-area{
        height: 100vh;
		flex-direction: column;
		margin: 0;
    }
    .text-area{
        width: 100%;
		margin-left: 0;
		padding: 1.5em;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
    }
    .banner-img{
	    max-width: 100%;
	}
	.banner-img img{
		height: 100%;
	}
	nav{
		height: auto;
		margin-bottom: 20px;
		background-color: transparent;
		display: flex;
		justify-content: center;
	}
	nav ul li{
		margin: 20px 0;
		border: 1px solid gray;
	}
	.main-section, .blogs{
		grid-template-columns: 1fr;
	}
    }
    .footer-links{
    flex-direction: row;
    text-align: center;
}
.social-media-icons{
    display: flex;
    flex-direction: column;}
@media screen and (min-width: 577px) and (max-width: 992px){
    .blog-area{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* 1st web ends here */

.blog-area2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 40px;
}

.img{
    height: 150px;
    width: 200px;
}
.imgs{
    height: 150px;
    width: 200px;
}
@media screen and (max-width: 576px){
    .blog-area2{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 577px) and (max-width: 992px){
    .blog-area2{
        grid-template-columns: repeat(1, 1fr);
    }
}
